## CLIENT ENV
_CLIENT_URL=
_CLIENT_PORT=

## SERVER ENV
        
#Database
_HOST_ADMIN=
_USER_ADMIN=
_PASSWORD_ADMIN=
_DATABASE_ADMIN=
_DB_PORT=

_SERVER_URL=
_SERVER_PORT=

#MonggoDB Connections
_MONGODB_URL=
_SESSION_COLLECTION=
_SESSION_SECRET=
_HTTPS_SECURE='false'

#Secret Key
_SECRET_KEY=

#Swagger Auth
_SWAGGER_USER=
_SWAGGER_PASS=

#Environment
NODE_ENV='development'

#CRYPTOGRAPHY
_ENCRYPTION_ALGORITHM=
_ENCRYPTION_IV=
_ENCRYPTION_KEY=

#Email Configuration
_EMAIL_HOST=
_EMAIL_PORT=
_EMAIL_USER=
_EMAIL_PASSWORD=
_EMAIL_FROM=
_EMAIL_TO=