## CLIENT ENV
_CLIENT_URL=
_CLIENT_PORT=


## SERVER ENV
        
#Database
_HOST_ADMIN=
_USER_ADMIN=
_PASSWORD_ADMIN=
_DATABASE_ADMIN=
_DB_PORT=

_SERVER_URL=
_SERVER_PORT=
_SUBSCRIPTION_SERVER_PORT=
VITE_SERVER_LINK=

#MonggoDB Connections
_MONGODB_URL=
_SESSION_COLLECTION=
_SESSION_SECRET=
_HTTPS_SECURE=

#Secret Key
_SECRET_KEY=

#Swagger Auth
_SWAGGER_USER=
_SWAGGER_PASS=

#Environment
NODE_ENV=

#CRYPTOGRAPHY
_ENCRYPTION_ALGORITHM=
_ENCRYPTION_IV=
_ENCRYPTION_KEY=

#Email Configuration
_EMAIL_HOST=
_EMAIL_PORT=
_EMAIL_USER=
_EMAIL_PASSWORD=
_EMAIL_FROM=
_EMAIL_TO=
VITE_GOOGLE_CLIENT_ID=
#SUBSCRIPTION ENV
# _SUBSCRIPTION_URL='localhost'
# _SUBSCRIPTION_PORT='5051'
VITE_SUBSCRIPTION_URL=
VITE_SUBSCRIPTION_PORT=
VITE_SUBSCRIPTION_LINK=

#MonggoDB Connections
_SUBSCRIPTION_MONGODB_URL=
_SUBSCRIPTION_SESSION_COLLECTION=
_SUBSCRIPTION_SESSION_SECRET=
_HTTPS_SECURE=

#MAIN_SERVER ENV
# _MAIN_SERVER_URL='localhost'
# _MAIN_SERVER_PORT='8000'
_MAIN_SERVER_URL=
_MAIN_SERVER_PORT=